fastapi[standard]
uvicorn[standard]
sqlmodel
asyncpg
python-dotenv
httpx
mecab-python3
redis
celery[redis]
qdrant-client
openai
python-jose[cryptography]
pydantic
langchain_community
langchain_openai
langchain_qdrant
qdrant_client
groq